// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

//Colors
$body-background: rgb(229, 239, 245);
$button-background: rgb(192, 223, 52);
$section-background-1: rgb(255, 255, 255);
$section-background-2: rgb(42, 178, 175);
$word-color-1: rgb(229, 239, 245);
$word-color-2: rgb(152, 166, 189);
$word-color-3: rgb(42, 178, 175);
$word-color-4: rgb(192, 223, 52);